@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom styles */
body {
  @apply bg-gray-50 text-gray-900;
}
html, body, #root {
  height: 100%;
  background-color: #0f0f0f; /* fallback */
}

